{% extends 'UiBundle:Common:content.html.twig' %}

{% block globalMandatoryStylesheet %}
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css" />
    {% stylesheets
    'bundles/Ui/global/plugins/font-awesome/css/font-awesome.css'
    'bundles/Ui/global/plugins/simple-line-icons/simple-line-icons.css'
    'bundles/Ui/global/plugins/bootstrap/css/bootstrap.css'
    'bundles/Ui/global/plugins/uniform/css/uniform.default.css'
    'bundles/Ui/global/plugins/bootstrap-switch/css/bootstrap-switch.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block themeGlobalStylesheet %}
    {% stylesheets
    'bundles/Ui/global/css/components.css'
    'bundles/Ui/global/css/plugins.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block pagePluginStylesheet %}
    {% stylesheets
    'bundles/Ui/global/plugins/datatables/datatables.css'
    'bundles/Ui/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css'
    filter="cssrewrite"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block headGlobalJavascript %}
    {% javascripts
    'bundles/Ui/global/scripts/jquery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block pagePluginsJavascript %}
    {% javascripts
        'bundles/Ui/global/plugins/datatables/datatables.js'
        'bundles/Ui/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block pageLevelJavascript %}
    {% javascripts
        'bundles/Ui/global/scripts/datatable.js'
        'bundles/Ui/pages/scripts/table-datatables-colreorder.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock %}

{% block main %}
<div class="frame_main" style="padding: 10px 10px 10px 10px;">


<h3 class="page-title"> Colreorder Extension
    <small>colreorder extension demos</small>
</h3>
<!-- END PAGE TITLE-->
<!-- END PAGE HEADER-->
<div class="m-heading-1 border-green m-bordered">
    <h3>DataTables ColReorder Extension</h3>
    <p> ColReorder adds the ability for the end user to be able to reorder columns in a DataTable through a click and drag operation. This can be useful when presenting data in a table, letting the user move columns that they wish to compare
        next to each other for easier comparison. </p>
    <p> For more info please check out
        <a class="btn red btn-outline" href="http://datatables.net/extensions/colreorder/" target="_blank">the official documentation</a>
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN EXAMPLE TABLE PORTLET-->
        <div class="portlet light bordered">
            <div class="portlet-title">
                <div class="caption font-dark">
                    <i class="icon-settings font-dark"></i>
                    <span class="caption-subject bold uppercase">Column Reordering</span>
                </div>
                <div class="tools"> </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-bordered table-hover" id="sample_1">
                    <thead>
                    <tr>
                        <th> Rendering engine </th>
                        <th> Browser </th>
                        <th> Platform(s) </th>
                        <th> Engine version </th>
                        <th> CSS grade </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 4.0 </td>
                        <td> Win 95+ </td>
                        <td> 4 </td>
                        <td> X </td>
                    </tr>
                    <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 5.0 </td>
                        <td> Win 95+ </td>
                        <td> 5 </td>
                        <td> C </td>
                    </tr>
                    <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 5.5 </td>
                        <td> Win 95+ </td>
                        <td> 5.5 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 6 </td>
                        <td> Win 98+ </td>
                        <td> 6 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Trident </td>
                        <td> Internet Explorer 7 </td>
                        <td> Win XP SP2+ </td>
                        <td> 7 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Trident </td>
                        <td> AOL browser (AOL desktop) </td>
                        <td> Win XP </td>
                        <td> 6 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Firefox 1.0 </td>
                        <td> Win 98+ / OSX.2+ </td>
                        <td> 1.7 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Firefox 1.5 </td>
                        <td> Win 98+ / OSX.2+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Firefox 2.0 </td>
                        <td> Win 98+ / OSX.2+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Firefox 3.0 </td>
                        <td> Win 2k+ / OSX.3+ </td>
                        <td> 1.9 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Camino 1.0 </td>
                        <td> OSX.2+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Camino 1.5 </td>
                        <td> OSX.3+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Netscape 7.2 </td>
                        <td> Win 95+ / Mac OS 8.6-9.2 </td>
                        <td> 1.7 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Netscape Browser 8 </td>
                        <td> Win 98SE+ </td>
                        <td> 1.7 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Netscape Navigator 9 </td>
                        <td> Win 98+ / OSX.2+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.0 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.1 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.1 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.2 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.2 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.3 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.3 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.4 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.4 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.5 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.5 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.6 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> 1.6 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.7 </td>
                        <td> Win 98+ / OSX.1+ </td>
                        <td> 1.7 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Mozilla 1.8 </td>
                        <td> Win 98+ / OSX.1+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Seamonkey 1.1 </td>
                        <td> Win 98+ / OSX.2+ </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Gecko </td>
                        <td> Epiphany 2.20 </td>
                        <td> Gnome </td>
                        <td> 1.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> Safari 1.2 </td>
                        <td> OSX.3 </td>
                        <td> 125.5 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> Safari 1.3 </td>
                        <td> OSX.3 </td>
                        <td> 312.8 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> Safari 2.0 </td>
                        <td> OSX.4+ </td>
                        <td> 419.3 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> Safari 3.0 </td>
                        <td> OSX.4+ </td>
                        <td> 522.1 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> OmniWeb 5.5 </td>
                        <td> OSX.4+ </td>
                        <td> 420 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> iPod Touch / iPhone </td>
                        <td> iPod </td>
                        <td> 420.1 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Webkit </td>
                        <td> S60 </td>
                        <td> S60 </td>
                        <td> 413 </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 7.0 </td>
                        <td> Win 95+ / OSX.1+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 7.5 </td>
                        <td> Win 95+ / OSX.2+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 8.0 </td>
                        <td> Win 95+ / OSX.2+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 8.5 </td>
                        <td> Win 95+ / OSX.2+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 9.0 </td>
                        <td> Win 95+ / OSX.3+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 9.2 </td>
                        <td> Win 88+ / OSX.3+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera 9.5 </td>
                        <td> Win 88+ / OSX.3+ </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Opera for Wii </td>
                        <td> Wii </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Nokia N800 </td>
                        <td> N800 </td>
                        <td> - </td>
                        <td> A </td>
                    </tr>
                    <tr>
                        <td> Presto </td>
                        <td> Nintendo DS browser </td>
                        <td> Nintendo DS </td>
                        <td> 8.5 </td>
                        <td> C/A
                            <sup>1</sup>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- END EXAMPLE TABLE PORTLET-->
    </div>
</div>
</div>
{% endblock %}